<div class="mainContent">
  <div class="userListWrapper">

      <div class="row">
          <div class="col s3"><div class="card">




              <app-user-list></app-user-list>


          </div></div>
          <div class="col s9"><div class="card-panel">
              <div #scroller class="feedWrapper">
                  <app-feed></app-feed>
                </div>


          </div></div>
         
        </div>

        <div class="row">
          <div class="col s3"></div>
          <div class="col s9"><div class="card-panel">
          <div class="chatFormWrapper">
              <app-chat-form></app-chat-form>
            </div>

            </div>
        </div>


  </div>

</div>

